.ct-chart-1, .ct-chart-2 {
  .ct-line {
    /* Set the colour of this series line */
    stroke: white;
    /* Control the thikness of your lines */
    stroke-width: 5px;
    /* Create a dashed line with a pattern */
    stroke-dasharray: 10px 0px;
  } 

  .ct-point {
    /* Colour of your points */
    stroke: white;
    /* Size of your points */
    stroke-width: 12px;
    /* Make your points appear as squares */
    stroke-linecap: round;
  }
  
  .ct-grid {
    stroke-dasharray: none;
    stroke:none;
  }

  .ct-label {
    color:white;
    font-size:1em;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
  }
}

