body {
  background: $white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Futura Book", "Arial", sans-serif;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-landing{
  display: flex;
  bottom: 0;
  position: absolute;
  z-index: 55;
}

.style-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 120px;
  left: -20px;
  font-size: 26px;
  color: $yellow;
  background-color: $white;
  width: 660px;
  height: 42px;
  z-index: 55;
  padding-left: 100px;
  border-radius: 100px;
}