.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 1080px;
}

.parallax-layer {
  width: 100%;
  height: 520px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layer-0 {
  top: 0px;
  z-index: 0;
  background: #ffffff url("../medias/img/01_ciel.svg") center;
  background-size: cover;
}

.layer-1 {
  top: 140px;
  z-index: 5;
  background-image: url("../medias/img/02_soleil.svg");
  background-size: 1500px;
}

.layer-2 {
  top: 130px;
  z-index: 5;
  background-image: url("../medias/img/yolk.svg");
  background-size: cover;
}

.layer-3 {
  top: -100px;
  z-index: 10;
  background-image: url("../medias/img/03_nuages.svg");
  background-size: 1800px;
}

.layer-4 {
  top: 140px;
  z-index: 15;
  background-image: url("../medias/img/04_montage-fond.svg");
  background-size: 1920px;
}

.layer-5 {
  top: 400px;
  z-index: 20;
  background-image: url("../medias/img/05_montage-avant.svg");
}

.layer-6 {
  top: 500px;
  z-index: 25;
  background-image: url("../medias/img/06_arbres-fond.svg");
}

.layer-7 {
  top: 500px;
  z-index: 30;
  background-image: url("../medias/img/07_arbres-milieu.svg");
}

.layer-8 {
  top: 460px;
  z-index: 35;
  background-image: url("../medias/img/08_arbres-avant.svg");
}